<div class="adviceHeader">
  <%=image_tag('ori.jpg')%>
  <h2>オリ企画</h2>
</div>
<div class="orienContainer">
    <div class="orienBox1">
      <div class="orienImage">
        <%=image_tag(@ori_page.ori_photo2)%>
      </div>
    </div>
</div>
