<div class="login">
<% if current_user.nil? %>
  <h1><%= link_to "ログインはこちら", new_session_path %></h1>
<% else %>
  <h1><%= link_to "ログアウト", session_path(current_user.id), method: :delete, data: { confirm: 'ログアウトしますか？' } %></h1>
<% end %>
</div>
