<div class="col-md-12">
  <h3>素材画像</h3>
</div>
<div>
  <%=form_for @campus_life do |f| %>
    <div class="col-md-6">
      <%= f.file_field :campus_image1 %>
      <%= f.file_field :campus_image2 %>
    </div>
    <%= f.submit "送信" ,class: "btn" %>
  <% end %>
</div>
