<div class="col-md-12">
  <h3>素材画像</h3>
</div>
<div>
  <%=form_for @campus_life do |f| %>
    <div class="col-md-6 adBox">
      <table class="table">
        <tr>
          <th scope="row">画像</th>
          <td><%= f.file_field :campus_image1 %></td>
        </tr>
        <tr>
          <th scope="row">画像</th>
          <td><%= f.file_field :campus_image2 %></td>
        </tr>
      </table>
      <%= f.submit "送信" ,class: "btn button" %>
    </div>
  <% end %>
</div>
