<div id="kyotanabe">
    <div class="centerMap">
      <h1>今出川MAP</h1>
      <div class="kyotanabeMap">
        <%=image_tag('imade.png',class:"kyotanabe")%>
        <div class="building">
          <ul>
            <li>①博遠館</li>
            <li>②良心館</li>
            <ul>
              <li>
            　　良心館の食堂はお昼ご飯の時間には人がいっぱい。勉強したり、パソコンを使ったり、友達と話し合いができる場所がある。
            </li>
            </ul>
            <li>③寧静館</li>
            <li>④真義館</li>
            <li>⑤彰栄館</li>
            <li>⑥同志社礼拝堂</li>
            <li>⑦扶桑館</li>
            <li>⑧ハリス理化学館</li>
            <li>⑨至誠館</li>
            <li>⑩クラーク記念館</li>
            <li>⑪待辰館</li>
            <li>⑫神学館</li>
            <li>⑬図書館</li>
            <li>⑭明徳館</li>
            <ul>
            <li>
            　ラウンジや、おしゃれなカフェがある
            </li>
            </ul>
            <li>⑮徳照館</li>
            <li>⑯弘風館</li>
            <li>⑰有終館</li>
            <li>⑱到遠館</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
