<div id="kyotanabe">
    <div class="centerMap">
      <h1>寒梅館MAP</h1>
      <div class="kyotanabeMap">
        <%=image_tag('kanbaikan.png',class:"kyotanabe")%>
        <div class="building">
        <ul>
          <li>①寒梅館</li>
  　<ul><li>保健センターやホールがある。
  　ここのパフェが人気</li></ul>
        </ul>
      </div>

      </div>
    </div>
  </div>
