<div id="kyotanabe">
    <div class="centerMap">
      <h1>烏丸キャンパスMAP</h1>
      <div class="kyotanabeMap">
        <%=image_tag('karasuma.png',class:"kyotanabe")%>
        <div class="building">
        <ul>
          <li>①志高館</li>
　<ul><li>保健センターがある。</li></ul>
        </ul>
      </div>

      </div>
    </div>
  </div>
