<div id="kyotanabe">
    <div class="centerMap">
      <h1>京田辺MAP</h1>
      <div class="kyotanabeMap">
        <%=image_tag('tanabe.png',class:"kyotanabe")%>
        <div class="building">
        <ul>
  <li>①京田辺別館</li>
  <ul>
    <li>
  　クラブやサークルなどのBOXがある。
    </li>
  </ul>
  <li>②知真館2号館</li>
  <li>③厚正館保健センター</li>
  <li>④知真館1号館</li>
  <li>⑤知真館3号館</li>
  <li>⑥日糧館</li>
  <ul>
    <li>
  　食堂専門街、本屋さんなどお店がたくさんある。
  </li>
  </ul>
  <li>⑦成心館</li>
  <li>⑧ハローホール（多目的ホール）</li>
  <ul>
    <li>
  　文化イベント用の建物で、ホール前広場では、ライブコンサートや応援団による演舞と
  いった様々がイベントを開催できる。
  </li>
  </ul>
  <li>⑨頷真館</li>
  <li>⑩恵道館</li>
  <li>⑪ラードネット記念図書館</li>
  <li>⑫嗣業館</li>
  <li>⑬交隣館</li>
  <li>⑭光喜館</li>
  <li>⑮恵喜館</li>
  <li>⑯紫苑館</li>
  <ul>
    <li>
  　食堂やラウンジがある。
  </li>
  </ul>
  <li>⑰新島記念講堂（礼拝堂）</li>
  <li>⑱同志社ローム記念館</li>
  <li>⑲夢告館</li>
  <li>⑳光館</li>
  <li>㉑情報メディア館</li>
  <li>㉒知証館南館　電気系実験実習室</li>
  <li>㉓知証館北館　機械系実験実習棟</li>
  <li>㉔知証館南館　心理学実験室</li>
  <li>㉕知証館北館　機械実習工場　</li>
  <li>㉖知証館北館　実習工場別棟</li>
  <li>㉗光館</li>
  <li>㉘言館</li>
  <li>㉙香伯館</li>
  <ul>
    <li>
  　心理学部・心理学研究科とグローバル・コミュニケーション学部の拠点施設
  </li>
  </ul>
  <li>㉚知源館</li>
  <li>㉛至心館</li>
  <li>㉜澄明館</li>
  <li>㉝有徳館南館</li>
  <li>㉞有徳館東館</li>
  <li>㉟創考館</li>
  <li>㊱理化学館</li>
  <li>㊳報辰館</li>
  <li>㊳香知館</li>

  <li>㊴医心館</li>
  <ul>
    <li>
  　生命医科学部・生命医科学研究科の拠点施設
  </li>
  </ul>
  <li>㊵デビィス記念館</li>
  <li>㊶プール</li>
  <li>㊷体育BOX棟</li>
  <li>㊸京田辺体育ハウス-２</li>
  <li>㊹京田辺体育ハウス-1</li>
  <li>㊺真誠館</li>
  <ul>
    <li>
  　相撲場、レスリング場、ボクシング場、空手道場、日本拳法場、少林寺拳法場、合気 道
  場、居合道場、トレーニング室を備えた体育施設がある。
  </li>
  </ul>
  <li>㊻磐上館</li>
  <ul>
    <li>
  　スポーツ健康科学部・スポーツ健康科学研究科の拠点施設
  </li>
  </ul>
  <li>㊼体育シャワー場</li>
        </ul>
      </div>
  </div>

      </div>
    </div>
