<div id="kyotanabe">
    <div class="centerMap">
      <h1>新町キャンパスMAP</h1>
      <div class="kyotanabeMap">
        <%=image_tag('shinmachi.png',class:"kyotanabe")%>
        <div class="building">
        <ul>
          <li>①新町別館</li>
<li>②学生会館</li>
　<ul><li>クラブのやサークルなどのBOXがある</li></ul>
<li>③育真館</li>
　<ul><li>授業や体育会、スポーツ系のサークル活動で使う体育館。</li></ul>
<li>④尋真館</li>
<li>⑤臨光館</li>
<ul><li>
　社会学部と政策学部がよく使う
</li></ul>
</ul>
      </div>

      </div>
    </div>
  </div>
