<div class="col-md-12">
  <h3>第二言語とは・・・</h3>
</div>
<div>
  <%=form_for @languages do |f| %>
    <div class="col-md-6">
      <%= f.text_area :context, class: "form-control"%>
    </div>
    <%= f.submit "送信" ,class: "btn" %>
  <% end %>
</div>
