<h1>大学生の用語</h1>
<% @introduceUniversityWords.each do |obj| %>
  <div>
    <%= obj.id %>
    <%= link_to '編集',edit_introduce_university_word_path(obj.id)%>
    <%= link_to '削除',introduce_university_word_path(obj.id),method: :delete%>
  </div>
<%end%>
<%= link_to '新規作成',new_introduce_university_word_path%>
