<div class="col-md-12">
  <h3>編集</h3>
</div>
<div>
  <%=form_for @advertisement do |f| %>
  <div class="col-md-6 adBox">
    <table class="table">
      <tr>
        <th scope="row">広告URL</th>
        <td><%= f.text_field :url%></td>
      </tr>
      <tr>
        <th scope="row">広告画像</th>
        <td><%= f.file_field :adver_image %></td>
      </tr>
    </table>
    <%= f.submit "送信" ,class: "btn" %>
  </div>
  <% end %>
</div>
