<h3>URL</h3>
<div class="col-md-5 adBox">
  <h4>年間予定URL</h4>
  <% @map_urls.each do |obj| %>
    <table class="table">
      <tr>
        <th scope="row">場所</th>
        <td><%= obj.url%>
        <span class="button"><%= link_to '編集',edit_map_url_path(obj.id)%></td>
      </tr>
    </table>
  <%end%>
</div>
