/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";



body{
  padding:0;
  margin:0;
  background-color:white
}
/*管理ページ*/

/*header*/

#adminheader{
  display:table;
  width:100vw;
}
#adminheader:after{
  content: "";
  display: block;
  clear: both;
}
#admintitle{
  display:block;
  color:white;
  font-size: 20px;
  width:20%;
  background-color:#00336D;
  height:50px;
  text-align: center;
  line-height: 50px;
  float:left;
}
#adminbar{
  display:block;
  background-color:#00336D;
  width:80%;
  height:50px;
  float:left;
}

/*menu*/
#adminMenu{
  display:block;
  height:calc(100vh - 50px) ;
  width:20%;
  background-color: white;
  float:left;
  overflow: hidden
}

.blank{
  display:block;
  height:20px;
}

#adminMenu ul{
  color:#00336D;
  list-style: none;
  font-size:16px;
}
#adminMenu li{
  margin-bottom:15px;
}

#adminMenu div{
  font-size:15px;
  line-height:30px;
}

#adminMenu ul li ul li:first-child{
  margin-top:15px;
}

#adminMenu a:hover{
  background-color:#444444;
  color:white;
}
#adminMenu div span a{
  padding-left: 20px;
  display:block;
  height:35px;
  width:100%;
  text-decoration: none
}
#adminMenu a{
  padding-left: 40px;
  display:block;
  height:35px;
  width:100%;
  text-decoration: none
}
.title{
  padding-left:20px;
}


.logo{
  position:fixed;
  z-index:3;
  margin-left:20px;
  height:70px;
}


/*mainpage*/
#adminpage:after{
  content: "";
  display: block;
  clear: both;
}


#adminMain{
  display:block;
  height:calc(100vh - 50px);
  width:80%;
  float:left;
}

#adminBox{
  padding:15px;
}

/*advicePage*/
.advice {
  background-image: image-url("life.jpg");
  height:100vh;
  width:100vw;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.advice::before{
  padding-top:60px;
	/* 透過した黒を重ねる */
	background-color: rgba(0,0,0,0.1);
	/* どの範囲に重ねるかを指定 */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}

.advicebox{
  width:100%;
  position: absolute;
  text-align: center;
}

.reset{
  padding:0;
  margin:0;
}

/*MAP*/
#kyotanabe{
  padding-top:60px;
}
.centerMap{
  text-align: center;
}

.kyotanabeMap{
  width:100%;
  height:60%;
}
.kyotanabe{
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  width:80%;
  height:500px;
}

.building{
  position:absolute;
  margin-left:20%;

  width:80%;
}

.building ul{
  list-style: none;
  font-size:15px;
  line-height:25px;
  text-align: left;

}

/*Map Imade*/
.maptitle {
  background-image: image-url("map.jpg");
  height:100vh;
  width:100vw;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.maptitle::before{
	/* 透過した黒を重ねる */
	background-color: rgba(0,0,0,0.5);
	/* どの範囲に重ねるかを指定 */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}

.mapbox{
  padding-top:120px;
  width:100%;
  position: absolute;
  text-align: center;
}
.mapTitle{
  text-align: center;
  text-decoration: none;
  padding:10px;
}
.mapTitle a{
  text-decoration: none;
  color:white;
  font-size:30px;
}
.mapTitle a:hover{
  background-color:transparent;
  color:white
}

.mapTitle a:link {
color: white;
}

.mapTitle a:visited {
color:white;
}

.mapTitle a:hover {
color: white;
}

.mapTitle a:active {
color:white;
}


@media only screen and (max-device-width: 480px) {
 /* スマホ用のCSS */
}
