// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.topImage {
  background-image: image-url("top.jpg");
  height:100vh;
  width:100vw;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.topImage::before{
	/* 透過した黒を重ねる */
	background-color: rgba(0,0,0,0.1);
	/* どの範囲に重ねるかを指定 */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}

.box{
  padding-top:50px;
  width:100%;
  position: absolute;
  text-align: center;
}

.toptitle{
  text-align: center;
  text-decoration: none;
  padding:10px;
}
.toptitle a{
  text-decoration: none;
  color:white;
  font-size:30px;
}
.toptitle a:hover{
  background-color:transparent;
}
.box p {
  font-size:30px;
}
.box h1,p,a{
  color: white;
}
.box a:link {
color: white;
}

.box a:visited {
color: white;
}

.box a:hover {
color: white;
}

.box a:active {
color: white;
}
