// Place all the styles related to the languages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#secondLanguage{
  padding:10px;
  margin-right:10px;
  background-color: white;
  border-radius: 5px;
}

.adBox{
  background-color:white;
  padding:10px;
  margin-right:10px;
  border-radius:5px;
}

#Language{
  padding:10px;
  background-color: white;
  border-radius: 5px;

}
.breal{
  word-break: break-all;
}

.fontsize{
  font-size:15px;
}

.field{
  width:200px;
}

.submitButton{
  font-size: 20px;
  width:30px;
  height:15px;
}

.Language{
  padding:10px;
  border-top:dashed;
  border-color:#00336D;
}


.text{
  font-size: 20px;
}

.button{
  font-size: 15px;
  float:right;
  padding-right: 10px;
}
a{
  text-decoration: none;
}
