// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login{
  width:100vw;
  padding-top:100px;
  text-align: center;
}
.login1{
  width:100vw;
  padding-top:100px;
}
.loginField{
  width:200px;
}

.loginBox{
  padding-left:200px;
}
