// Place all the styles related to the Unisna controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media only screen and (max-width: 900px) {

  .unisnaContainer{
    margin-top:20px;
    width:100vw;
    a:hover{
      background-color:transparent
    }
    .mensBox{
      width:100%;

      padding:10px
    }
    .menBottom{
      margin-top:50px;
      margin-bottom:50px;
      border-radius: 5px;
    }
    .mensBox img{
      width:100%;
    }
    .womensBox{
      width:100%;

      padding:10px;
    }
    .womenBottom{
      margin-top:50px;
      border-radius: 5px;
      margin-bottom:50px;
    }
    .womensBox img{
      width:100%;
    }
    .unisnaBox{
      padding:10px;
    }
    .uniBox{
      width:100%
    }
    .uniBox img{
      width:100%
    }
  }
  .detail{
    margin-left:10%
  }

}
@media only screen and (min-width: 901px) {
  .unisnaContainer{
    margin-top:20px;
    width:100vw;
    display: flex;
    a:hover{
      background-color:transparent
    }
    .mensBox{
      width:40%;
      margin-left:10%;
      padding:50px
    }
    .menBottom{
      margin-top:50px;
      margin-bottom:50px;
      border-radius: 5px;

    }

    .mensBox img{
      width:100%;
    }

    .womensBox{
      width:40%;
      padding:50px;
    }

    .womenBottom{
      margin-top:50px;
      border-radius: 5px;
      margin-bottom:50px;
    }
    .womensBox img{
      width:100%;

    }
    .unisnaBox{
      padding:10px;
    }
    .uniBox{
      margin-left:20%;
      width:60%;
    }
    .uniBox img{
      width:100%
    }
  }
  .detail{
    margin-left:20%;
    width:60%;
  }
}
