// Place all the styles related to the university_words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#WordRank{
  background-color:white;
  border-radius: 5px;
  padding:10px;
  margin-bottom:10px;
}
#WordExample{
  background-color:white;
  border-radius: 5px;
  padding:10px;
}

.univerEditBox{
  background-color: white;
  border-radius: 5px;
  padding:10px;
}
