<div class="adviceHeader">
  <%=image_tag('unisna.jpg')%>
</div>
<div class="unisnaContainer">
  <div class="mensBox">
    <h2>MEN</h2>
    <%@men_snaps.each do |f| %>
      <div class="menBottom">
       <div><%=link_to image_tag(f.men_image),"/unisna/men/#{f.id}" %></div>
      </div>
    <%end%>
  </div>
  <div class="womensBox">
    <h2>WOMEN</h2>
    <%@women_snaps.each do |f| %>
        <div class="womenBottom">
         <div><%=link_to image_tag(f.women_image),"/unisna/women/#{f.id}" %></div>
        </div>
    <%end%>
  </div>
</div>
