<p id="notice"><%= notice %></p>

<p>
  <strong>Context:</strong>
  <%= @exam_comment.context %>
</p>

<%= link_to 'Edit', edit_exam_comment_path(@exam_comment) %> |
<%= link_to 'Back', exam_comments_path %>
